{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Admin</title>

    <!-- Local style sheets -->
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="{%static 'css/adminlogin.css'%}">
    <link rel="stylesheet" href="{%static 'css/admin.css'%}">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet"> 

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .user-box{
            width: 500px;
        }
        body{
            overflow: scroll;    
        }
        @media screen and (max-width: 800px){
            .user-box{
                width: 80%;
            }
            .user-box label{
                top: -15px;
            }
        }
    </style>

</head>
<body>
    <div id="top_headings">
      <h2>Punit Kukreja</h2>
      <p>Microsoft Certified Trainer | M365 Consultant | Azure Architect</p>
    </div>
    <div id="header">
        <a class="header_a" onclick="changeviewtotraining()" href="#trainings">Trainings We Offer</a>
        <a class="header_a" onclick="changeviewtoaddblog()">Blog</a>
        <a class="header_a" href="index">Logout</a>
    </div>
    <div id="trainings">
        <div id="trainings_heading">
            <h2>Trainings We Offer</h2>
            <button id="addtraining" onclick="openmodal()">Add Training</button>
        </div>
        <div class="user-box">
            <input name="input_usernamebox" id="searchbar" type="text" required="">
            <label>Enter Name of course you want to search</label>
        </div>
        <div id="trainings_inner">
            {% for x in trainings %}
            <a style="cursor:pointer;" onclick="openmodal2('{{x.training}}')">
                <img class="training_image" src="{%static 'images/training.png'%}" alt="">
                <div class="training_text">
                    <h3>{{x.training}}</h3>  
                </div>
            </a>
            {%endfor%}
        </div>
    </div>


    <div id="addblog">
        <div id="inner_blog">
            <div id="chapters">
                <div id="chapters_inner">
                    <div id="chapter_inner_heading">
                        <h2>Chapters</h2>
                        <a href="addnewchapter">Add new</a>
                    </div>
                    <div id="chapter_content">
                        {%for x in chapter%}
                        <p class="chapters" id="chapter_{{x.chapter}}" onclick="changeactivechapter('chapter_{{x.chapter}}')" style="cursor: pointer;" >{{x.chapter}}</p>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div id="pages">
                <div id="pages_inner">
                    <div id="pages_inner_heading">
                        <h2>Pages</h2>
                        <a onclick="addnewpage()">Add new</a>
                    </div>
                    <div id="page_content">
                        {%for x in blogs%}
                        <p class="pages page_{{x.chapter}}" onclick="settextbar('{{x.page_number}}')" style="cursor: pointer;">{{x.page_number}}</p>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div id="textinput">
                {%for x in blogs%}
                 <textarea class="blog" name="blog" id="blog_{{x.page_number}}">{{x.blog}}</textarea>
                {%endfor%}
                 
            </div>
            <button data-page_number="" onclick="sendblogtobackend()" id="saveblog">Save Blog</button>
        </div>
    </div>



    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <h2>New Training</h2>
           <form action="add_new_training" method="post" enctype="multipart/form-data">
               {%csrf_token%}
            <div class="user-box">
                <input name="newtraining" id="newtraining" type="text" required="">
                <label>Enter New Training</label>
            </div>
            <input id="submit" type="submit" value="Add">
           </form>
        </div>
        </div>

        </div>
        <div id="myModal2" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
            <div class="modal-header">
                <span class="close2">&times;</span>
            </div>
            <div class="modal-body">
                <h2>Are you sure you want to delete this Training</h2>
               <form action="delete_training" method="post" enctype="multipart/form-data">
                   {%csrf_token%}
                    <input style="display:none;" type="text" readonly name="training_name" id="training_name">
                    <input id="Delete" type="submit" value="Delete">
               </form>
            </div>
            </div>
    
            </div>
    <!-- This is serchbar for training  -->
    <script>
        $(document).ready(function(){
            $("#searchbar").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#trainings_inner a").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <!-- This opens add training modal -->
        <script>
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        function openmodal() {
            
            document.getElementById("myModal").style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        document.getElementById("myModal").style.display = "none";
        }

        </script>

    <!-- This opens delete training modal -->
    <script>

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close2")[0];

        // When the user clicks the button, open the modal 
        function openmodal2(id) {
            document.getElementById('training_name').value=id;
            document.getElementById("myModal2").style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            document.getElementById("myModal2").style.display = "none";
        }

        
    </script>

    <!-- This toggles between blogs and training -->
    <script>
        function changeviewtoaddblog(){
            document.getElementById('trainings').style.display='none'
            document.getElementById('addblog').style.display='block'
        }
        function changeviewtotraining(){
            document.getElementById('trainings').style.display='flex'
            document.getElementById('addblog').style.display='none'
        }
    </script>

    <!-- This sends ajax request to add new page -->
    <script>
        function addnewpage(){
            pages=document.getElementsByClassName('active_pages');
            l=pages.length
            id=pages[l-1].innerHTML
            $.ajax({
               type: "POST",
               url: 'addnewpage',   
               data: {csrfmiddlewaretoken: '{{ csrf_token }}',
                    last_chapter: id},
                success: function(data) {
                  location.reload();
                }
              });
        }
    </script>

    <!-- This script sets initial active chapter when page reloads -->
    <script>
        chapters=document.getElementById('chapter_1');
        chapters.classList.add("active");
    </script>

    <!-- This script changes active chapters -->
    <script>
        function changeactivechapter(id){
            chapters=document.getElementsByClassName('chapters')
            for(var i=0;i<chapters.length;i++){
                chapters[i].classList.remove('active')
            }
            active_chapter=document.getElementById(id);
            active_chapter.classList.add('active')

            //changing pages again
            activechapter=document.getElementsByClassName('active');
            allpages=document.getElementsByClassName('pages')
            for(var i=0;i<allpages.length;i++){
                allpages[i].style.display="none";
                allpages[i].classList.remove('active_pages')
            }
            activepages=document.getElementsByClassName('page_'+activechapter[0].innerHTML);
            for(var i=0;i<activepages.length;i++){
                activepages[i].style.display="block";
                activepages[i].classList.add('active_pages')
            }
        }
    </script>

    
    <!-- This hides pages of inactive chapter -->
    <script>
        activechapter=document.getElementsByClassName('active');
        allpages=document.getElementsByClassName('pages')
        for(var i=0;i<allpages.length;i++){
            allpages[i].style.display="none";
            allpages[i].classList.remove('active_pages')
        }
        activepages=document.getElementsByClassName('page_'+activechapter[0].innerHTML);
        for(var i=0;i<activepages.length;i++){
            activepages[i].style.display="block";
            activepages[i].classList.add('active_pages')
        }
    </script>

    <!-- This function sets default textbar -->
    <script>
        blogs=document.getElementsByClassName('blog');
        for(var i =0;i < blogs.length;i++){
            blogs[i].style.display="none";
        }
        document.getElementById('blog_1.0').style.display="block";
        document.getElementById('saveblog').dataset.page_number="1.0"
    </script>

    <!-- This function sets textbar for specific page -->
    <script>
        function settextbar(id){
            blogs=document.getElementsByClassName('blog');
            for(var i =0;i < blogs.length;i++){
                blogs[i].style.display="none";
            }
            document.getElementById('blog_'+id).style.display="block";
            document.getElementById('saveblog').dataset.page_number=id;
        }
    </script>

    <!-- This function sends blog to backend -->
    <script>
        function sendblogtobackend(){
            pagenumber=document.getElementById('saveblog').dataset.page_number;
            blog=document.getElementById('blog_'+pagenumber).value
            console.log(blog)
            $.ajax({
               type: "POST",
               url: 'saveblog',   
               data: {csrfmiddlewaretoken: '{{ csrf_token }}',
                    pagenumber: pagenumber,
                    blog:blog
                },
                success: function(data) {
                  location.reload();
                }
              });
        }
    </script>
</body>
</html>