{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Login</title>

    <!-- Link -->
    <link rel="stylesheet" href="{%static 'css/adminlogin.css'%}">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div id="form_container">
        <div id="logo"><img src="{%static 'images/vector-users-icon.webp'%}" alt=""></div>
        {% if messages %}
        <div id="error">
            {%for message in messages%}
            {{message}}
            {%endfor%}
        </div>
        {%endif%}
        <form action="adminlogin" method="POST" enctype="application/x-www-form-urlencoded">
            {%csrf_token%}
            <div class="user-box">
                <input name="input_usernamebox" id="input_usernamebox" type="number" required="">
                <label>Enter Otp</label>
                <img src="{%static 'images/Lock.svg'%}" id="login_userlogo" alt="user" width="35" height="35" />
            </div>
            <div id="logindiv">
                <input type="submit" id="login" value="Login">
            </div>
        </form>
    </div>
<script>
    function password_show() {
   
    var x = document.getElementById("input_passwordbox");
    if (x.type == "password") {
        x.type = "text";
        document.getElementById("login_passwordeye").style.display="none";
        document.getElementById("login_passwordeye_slash").style.display="block";
    } else {
        x.type = "password";
        document.getElementById("login_passwordeye").style.display="block";
        document.getElementById("login_passwordeye_slash").style.display="none";
    }
    }
</script>
</body>
</html>