{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Microsoft</title>

    <!-- Local style sheets -->
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="{%static 'css/adminlogin.css'%}">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet"> 

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .user-box{
            width: 500px;
        }
        body{
            overflow: scroll;    
        }
        @media screen and (max-width: 800px){
            .user-box{
                width: 80%;
            }
            .user-box label{
                top: -15px;
            }
        }
    </style>
</head>
<body>
    <div id="top_headings">
      <h2>Punit Kukreja</h2>
      <p>Microsoft Certified Trainer | M365 Consultant | Azure Architect</p>
    </div>
    <div id="header">
        <a class="header_a" href="index">Home</a>
        <a class="header_a" href="#trainings">Trainings We Offer</a>
        <a class="header_a" href="#roadmap">Certification Paths</a>
        <a class="header_a" href="blog">Blog</a>
        <a class="header_a" href="contact_us">Contact Us</a>
    </div>
    <div id="header_images">
        <img src="{%static 'images/header_image.jpeg' %}" id="speech_image" alt="error">
       <div id="header_inside_image">
           <img src="{%static 'images/1.png'%}" alt="">
           <img src="{%static 'images/2.png'%}" alt="">
           <img src="{%static 'images/3.png'%}" alt="">
       </div>
    </div>
    <div id="certification_dashboard">
        <div id="certification_dashboard_heading"><h2>Certification Dashboard</h2></div>
        <div id="certification_dashboard_inner">
            <div>
                <img class="badge_dashboard" src="{%static 'images/Certificates.svg'%}" alt="">
                <a class="a_dashboard" href="certificates">View Certificates</a>
            </div>
            <div>
                <img class="badge_dashboard" src="{%static 'images/Transcript.svg'%}" alt="">
                <a class="a_dashboard" href="transcripts">View Transcript</a>
            </div>
            <div>
                <img class="badge_dashboard" src="{%static 'images/Badges.svg'%}" alt="">
                <a class="a_dashboard" href="badges">View Badges</a>
            </div>
        </div>
    </div>
    <div id="trainings">
        <div id="trainings_heading"><h2>Trainings We Offer</h2></div>
        <div class="user-box">
            <input name="input_usernamebox" id="searchbar" type="text" required="">
            <label>Enter Name of course you want to search</label>
        </div>
        <div id="trainings_inner">
            {% for x in trainings %}
            <a style="cursor:pointer;" href="get_training/{{x.training}}/">
                <img class="training_image" src="{%static 'images/training.png'%}" alt="">
                <div class="training_text">
                    <h3>{{x.training}}</h3>  
                </div>
            </a>
            {%endfor%}
        </div>
    </div>

    <div id="roadmap">
        <h2>Not sure which course to choose?</h2><br>
        <h2>Try viewing our Roadmap and Certification Path</h2>
        <div>
            <img src="{%static 'images/Microsoft-Azure.png'%}" alt="">
            <img src="{%static 'images/Microsoft-Office.png'%}" alt="">
            <img src="{%static 'images/Power-Shell.png'%}" alt="">
        </div>
    </div>

    <!-- Testimonials -->
    <div id="testimonials">
        <h2>When your Customer goes an extra mile</h2>
        <div id="testimonials_image"> 
            {%for x in feedback%}
            <img id="img0" src="../static/feedback/{{x}}.png" alt="">
            {%endfor%}
        </div>
    </div>
    <div id="footer"></div>
    <script>
        $(document).ready(function(){
            $("#searchbar").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#trainings_inner a").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <!-- <script>
        var i=0;
        {%for x in feedback%}
            var img = document.getElementById("img"+(i));
            path = "%static 'feedback/{{x}}.png'";
            path=path+"%";
            console.log(path);
            img.src="\{"+path+"\}";
            i++;
        {%endfor%}
    </script> -->
</body>
</html>