*{
    font-family: 'Roboto';
}

#form_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 18px;
}
body{
    overflow: hidden;
}
#logo{
    margin-bottom: 50px;
}
#logo img {
    width: 200px;
    height: 200px;
}

.user-box {
    position: relative;
    margin-left: -30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 17px;
    color: #7E7D7D;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #7E7D7D;
    outline: none;
    padding-left: 38px;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 33px;
    padding: 10px 0;
    font-size: 19px;
    color: #7E7D7D;
    pointer-events: none;
    transition: .5s;
}

#login_userlogo {
    position: absolute;
    left: -10px;
    top: 0;
}

#login_passwordlogo {
    position: absolute;
    left: 0px;
    top: 0;
}

#login_passwordeye,
#login_passwordeye_slash {
    position: absolute;
    right: -35px;
    top: 10px;
    cursor: pointer;
}

#login_passwordeye_slash {
    display: none;
}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -25px;
    left: 33px;
    color: #7E7D7D;
    font-size: 16px;
}
#forgot_password{
    text-align: right;
    margin-top: -25px;
    color: #1565B0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-right: -40px;
}
#login{
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
    background-color: #1565B0;
    color: White;
    Font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 18px;
    border: none;
    outline: none;
    padding: 15px 20px;
    cursor: pointer;
    width: 60%;

}
#logindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
}
#error{
    margin-top: -17px;
    margin-bottom: 35px;
    background-color: #FFBBBB;
    border: 2px solid red;
    padding: 10px 20px;
    border-radius: 18px;
    color: #FF0000;
}